*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  scroll-behavior:smooth;
}

body{
  background:#0f172a;
  color:white;
  font-family:Arial, sans-serif;
}

section{
  padding:80px 10%;
}

.hero{
  min-height:100vh;
  display:flex;
  align-items:center;
}

.hero-content{
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:50px;
  width:100%;
}

.hero-text h1{
  font-size:5rem;
  color:#c084fc;
}

.hero-text h3{
  margin-top:10px;
}

.hero-text p{
  margin-top:15px;
}

.hero-image img{
  width:450px;
  max-width:100%;
  border-radius:20px;
}

.btn{
  display:inline-block;
  margin-top:25px;
  background:#7c3aed;
  color:white;
  text-decoration:none;
  padding:12px 25px;
  border-radius:10px;
}

.about{
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:50px;
}

.about-image img{
  width:300px;
  border-radius:20px;
}

h2{
  color:#c084fc;
  margin-bottom:20px;
}

.card{
  background:#1e293b;
  padding:25px;
  border-radius:15px;
}

.skill-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:20px;
}

.skill{
  background:#1e293b;
  padding:20px;
  border-radius:15px;
  text-align:center;
  transition:0.3s;
  cursor:pointer;
}

.skill:hover{
  transform:translateY(-5px);
  box-shadow:0 0 20px rgba(192,132,252,0.6);
}

.contact a{
  color:#c084fc;
  text-decoration:none;
}

@media(max-width:768px){

  .hero-content{
    flex-direction:column;
    text-align:center;
  }

  .about{
    flex-direction:column;
    text-align:center;
  }

  .hero-text h1{
    font-size:3rem;
  }
}